html { height: 100%; }
body {
	height: 100%;
	margin: 0; 
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	font-size: 14px;
	color: #777;
}
#wrapper { 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	min-width: 1200px;
}
#footer-buffer {} /* высота футера */
#footer { min-width: 1200px;}
.grid-1, 
.grid-2, 
.grid-3, 
.grid-4, 
.grid-5, 
.grid-6, 
.grid-7, 
.grid-8, 
.grid-9, 
.grid-10, 
.grid-11, 
.grid-12 {
	float: left;
	margin: 0 1%;
} 
.grid-1 { width: 6.333%; }
.grid-2 { width: 14.667%; }
.grid-3 { width: 23%; }
.grid-4 { width: 31.333%; }
.grid-5 { width: 39.667%; }
.grid-6 { width: 48%; }
.grid-7 { width: 56.333%; }
.grid-8 { width: 64.667%; }
.grid-9 { width: 73%; }
.grid-10 { width: 81.333%; }
.grid-11 { width: 89.667%; }
.grid-12 { width: 98%; }

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

.col2 > .item,
.col3 > .item, 
.col4 > .item, 
.col5 > .item {
	float: left; 
	margin-left: 2%;
}
.col2 > .item:nth-child(2n+1), 
.col3 > .item:nth-child(3n+1), 
.col4 > .item:nth-child(4n+1), 
.col5 > .item:nth-child(5n+1) {
	clear: both;
	margin-left: 0;
}
.services-scale .col3 > .item:nth-child(3n+1) {
  clear: none;
}
.col2 > .item:first-child, 
.col3 > .item:first-child, 
.col4 > .item:first-child, 
.col5 > .item:first-child {
	margin-left: 0;
}

.col2 > .item { width: 49%; }
.col3 > .item { width: 32%; }
.col4 > .item { width: 23.5%; }
.col5 > .item { width: 18.4%; }

.container {
	width: 1200px; 
	margin: 0 auto;
	position: relative;
	min-width: 1200px;
}
.col2:after,
.col3:after,
.services:after,
.excursion:after,
.article-margin:after,
.ul-img-partners:after,
.fon-item:after,
.container:after {
	content: ""; 
	display: block; 
	clear: both;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
i::selection,
a::selection,
span::selection,
li::selection,
p::selection {
    color: #fff; 
    background: #777;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a, 
a:hover, 
a:focus { 
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a img { 
	outline: none; 
	border:none; 
}
p a {
  color: #222;
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
p { margin: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 {
  font-weight: 300;
  font-style: normal;
}
h2 {
  color: #222;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .6px;
}	
h3 {
  color: #222;
  font-weight: bold;
}
h4 {}
.top { 
  	padding: 14px;
  	text-transform: uppercase;
  	background-color: #fff;
  	z-index: 56;
    position: relative;
}
nav > ul { 
	list-style: none;
	padding: 0;
}
.logo-img {
  background-image: url(img/logo.jpg);
  background-repeat: no-repeat;
  background-size: 100px;
  margin: 0 40px;
  width: 100px;
  height: 120px;
  vertical-align: middle;
} 
.main-menu {
	padding: 25px 0;
	text-transform: uppercase;
}
nav > a { color: #222; }
.main-menu ul {
	margin: 0;
	text-align: center;
 }
.main-menu li { 
  padding-right: 12px;
  padding-left: 12px;
  font-size: 20px;
  
  display: inline-block;
}
.main-menu li:last-child {
  padding-right: 0;
}
.main-menu a { 
  color: #777;
  display: inline-block;
  line-height: 150px;
 }
.main-menu .active a { color: #222; }
.main-menu a:hover { color: #222; }

/* slider */
.slider {
  height: 960px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.strip {
  position: absolute;
  width: 7200px;
  height: 320px;
  top: 0;
  left: 0;
  animation: move 100s linear infinite;
  -webkit-animation: move 100s linear infinite;
  -moz-animation: move 100s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
}
@keyframes move {
  0% {
-webkit-transform: translateX(0); }

100% {
-webkit-transform: translateX(-4800px);}
}
@-webkit-keyframes move {
0% {
-webkit-transform: translateX(0); }

100% {
-webkit-transform: translateX(-4800px); }
}
.strip-01 {
  background: transparent url("img/strip-0.jpg") repeat-x 0 0;
  background-size: 2400px 320px;
}
.strip-02 {
  top: 320px;
  background: transparent url("img/strip-0.jpg") repeat-x -320px 0;
  background-size: 2400px 320px;
  animation: move 110s linear infinite;
  -webkit-animation: move 110s linear infinite;
  -moz-animation: move 110s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
}
.strip-03 {
  top: 640px;
  background: transparent url("img/strip-0.jpg") repeat-x 0 0;
  background-size: 2400px 320px;
  animation: move 95s linear infinite;
  -webkit-animation: move 95s linear infinite;
  -moz-animation: move 95s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
}
/* slider */
/*h1*/
.text-head {
  margin: 70px 0;
  padding: 0 150px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.3px;
  font-style: normal;
  font-size: 13px;
  line-height: 23px;
  color: #444;
}
.text-head a {
  font-weight: 600;
  color: #999;
  text-decoration: underline;
}
.text-head a:hover {
  text-decoration: none;
}
/*h1*/
/*services*/
.services {
  padding-bottom: 30px;
}
.background-services {
  background-color: #eee;
}
.background-services .col3 {
  margin-right: 100px;
  margin-left: 200px;
}
span.count {
  font-size: 17px;
  font-weight: bold;
  color: #222;
  width: 40px;
  display: inline-block;
}
/*services*/
/*afisha*/
.background-afisha {
  background-color: #fff;
  padding-bottom: 30px;
}
.slider-bg-color h2,
.services h2,
.background-partners h2,
.background-afisha h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
}
.background-afisha img {
  width: 100%;
}
.background-afisha .col2 > .item.p-rigth {
   margin-right: 40px;
}
.background-afisha .col2 > .item {
  width: 46%;
}
.partners-scale .col2 > .item {
  margin: 0;
}
.partners-scale .col2 > .item:nth-child(even),
.background-afisha .col2 > .item:last-child {
  margin-right: 0;
} 
.background-afisha .col2 {
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 30px;
}
.partners-scale .col2 {
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 30px;
}
.background-afisha p {
  color: #222;
  font-size: 13px;
  line-height: 23px;
  text-align: left;
}
.background-afisha p span {
  font-size: 13px;
  font-weight: 600;
}
.slider-bg-color p a,
.background-afisha p a {
  display: block;
}
.slider-bg-color p.p-rigth {
  color: #222;
  font-size: 13px;
  line-height: 23px;
  text-align: right;
}
.background-afisha h3 a {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  display: block;
  color: #222;
}
.background-afisha .p-rigth h3 a,
.background-afisha .p-rigth p,
.background-afisha .p-rigth a {
   text-align: right;
}
/*-----------------------------------------------------------------------------------*/
/*  3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
  text-align: center;
}
.carousel-control.right {
  right: 0;
  left: auto;
}
.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  opacity: .5;
}
.left.carousel-control:before {
  content: '\2039';
  position: absolute;
  top: 50%;
  right: 20px;
  font: 400 50px "FontAwesome";
  line-height: 17px;
  margin-top: -8.5px;
  text-align: center;
  color: #444;
  width: 50px;
  height: 30px;
}
.right.carousel-control:before {
  content: '\203a';
  position: absolute;
  top: 50%;
  left: 20px;
  font: 400 50px "FontAwesome";
  line-height: 17px;
  margin-top: -8.5px;
  text-align: center;
  color: #444;
  width: 50px;
  height: 30px;
}
.carousel-indicators {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  display: block;
  text-align: center;
  padding: 0;
  margin-top: 50px;
}
.carousel-indicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #444;
  border-radius: 50%;
  border: 1px solid #444;
  margin-right: 1px;
}
.carousel-indicators .active {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #444;
  margin-right: 1px;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
.carousel li {
  float: none;
}
.slider-bg-color {
  background-color: #fff;
  padding-bottom: 20px;
  text-align: left;
}
.recall {
  font-size: 13px;
  line-height: 23px;
  color: #222;
}
.reviews p span:before,
.slider-bg-color .item p:last-child:before {
  content: "\f10e";
  font: 400 12px "FontAwesome";
  margin-right: 5px;
}
.h-recall {
  font-weight: 600;
  font-size: 14px;
  color: #222;
  margin-bottom: 10px;
}
/*slider*/ 
/*ellipsis*/
.ellipsis {
  overflow: hidden;
  position: relative;
  height: 90px;
}
.background-afisha.ellipsis:before {
  content:"";
  float: left;
  width: 1px; 
  height: 90px; 
}
.poster .ellipsis:after {
  width: 8em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100&amp;0+0,1+78 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(242,242,242,1) 78%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(78%,rgba(242,242,242,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 78%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 78%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 78%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 78%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */

}
.ellipsis:after {
content: "\02026";
box-sizing: content-box;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
float: right;
position: absolute;
top: 68px;
width: 7em;
margin-left: -7em;
padding-right: 5px;
text-align: right;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+87&amp;0+11,1+67 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 11%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(11%,rgba(255,255,255,0)), color-stop(67%,rgba(255,255,255,1)), color-stop(87%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.recall.ellipsis {
  overflow: hidden;
  position: relative;
  height: 135px;
}
.recall.ellipsis:after {
content: "\02026";
box-sizing: content-box;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
float: right;
position: absolute;
right: 0;
top: 115px;
width: 7em;
margin-left: -7em;
padding-right: 5px;
text-align: right;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+87&amp;0+11,1+67 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 11%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(11%,rgba(255,255,255,0)), color-stop(67%,rgba(255,255,255,1)), color-stop(87%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
/*ellipsis*/
.background-afisha p.i-item a,
.bottom-menu p.i-item a {
  display: inline-block;
}
.background-afisha p.i-item,
.bottom-menu p.i-item {
  text-align: center;
}
.background-afisha p.i-item i,
.bottom-menu p.i-item i {
  font-size: 25px;
  color: #999;
  margin-right: 10px;
}
.background-afisha p.i-item i:hover,
.bottom-menu p.i-item i:hover {
  color: #222;
}
.i-item {
  margin-top: 20px;
}
/*afisha*/
/*gallery_scale*/
.partners-scale img {
	width: 100%;
	display: block;
	min-height: 303px;
}
.gallery {
	margin-top: 20px;
}
.thumb {
	display: block;
  	position: relative;
  	overflow: hidden;
}
.img_scale > img {
  width: 100%;
  height: auto;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.img_scale {
	opacity: 1;
	display: block;
  position: relative;
  overflow: hidden;
}
.thumb_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.thumb_overlay:hover:before {
  content: "\f02d";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  font: 400 17px "FontAwesome";
  line-height: 17px;
  margin-top: -8.5px;
  text-align: center;
}
.thumb_overlay:before, 
.thumb_overlay:after {
  opacity: 0;
}
.thumb_overlay:hover:after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-top: -18px;
  margin-left: -18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.thumb:hover {
  background-image: none;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.thumb:hover .thumb_overlay {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.thumb:hover .thumb_overlay:before,
.thumb:hover .thumb_overlay:after {
  opacity: 1;
}
.background-partners {
  background-color: #eee;
}
/*gallery_scale*/
/*bottom-menu*/
.bottom-menu {
 background-color: #eee;
}
.bottom-menu {
  text-align: center;
}
.bottom-menu ul {
  margin-bottom: 10px;
}
.bottom-menu ul li {
  line-height: 23px;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 15px;
}
.bottom-menu ul li a {
  color: #999;
}
.bottom-menu ul li a:hover {
  color: #444;
}
.bottom-menu form {
  margin-top: 20px;
  margin-bottom: 50px;
}
.p-i {
  font-size: 13px;
  color: #222;
}
button:focus,
textarea:focus,
input:focus {
  outline: none; 
}
input.field {
  display: inline-block;
  padding: 10px 5px;
  margin-bottom: 15px;
  border: 1px solid #fff;
}
input.field:focus {
  border: 1px solid #85755C;
}
.bt {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  letter-spacing: 1px;
  background-color: #85755C;
  border: 1px solid #85755C;
  text-transform: uppercase;
}
.bt:hover {
  background-color: #4C4339;
}
.contacts {
  color: #444;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: bold;
  margin-top: 20px;
}
.contacts a {
  color: #444;
}
.contacts a:hover {
  color: #222;
  text-decoration: underline;
}
.contacts span {
  margin-right: 20px;
}
.contacts span:last-child {
  margin-right: 0;
}
.bottom-menu img {
  width: 150px;
    opacity: .3;
    margin-top: 20px;
    margin-bottom: 5px;
}
.background-bottom {
  width: 100%;
  height: 20px;
  background-color: #eee;
}
.text-bottom {
  margin: 50px 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.3px;
  font-style: normal;
  font-size: 15px;
  line-height: 23px;
  color: #222;
}
/*bottom-menu*/
/*copy*/
.copy {
  background-color: #Fff;
  min-width: 1200px;
  text-align: center;
}
.copy a {
  color: #222;
  text-decoration: underline;
}
.copy a:hover {
  text-decoration: none;
}
.copy p {
  padding: 5px;
  color: #777;
  font-size: 0.825em;
}
/*copy*/
/*poster*/
.fon-item {
  position: relative;
}
.fon-item img {
  width: 100%;
}
.fon-item h1 {
  font-size: 4.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  top: 150px;
}
.text-article-img p,
.text-article-img h1 {
  position: absolute;
  line-height: 1em;
  width: 96%;
  margin: 0 auto;
  color: #fff; 
  text-align: center;
}
.text-article-img p {
  top: 250px;
  font-size: 1.2em;
}
.text-article .col2 {
  margin: 3% 15%
}
.text-article .col2 p {
  margin-bottom: 5px;
  font-size: 0.94em;
  line-height: 1.5em;
  color: #222;
  font-style: italic;
}
.poster {
  background-color: #eee;
}
.poster .item {
  margin-bottom: 30px;
}
.text-close {
  text-align: center;
  font-weight: 400;
  margin: 3% 15%;
  color: #222;
}
.text-close h3 {
  font-size: 1.125em;
  text-transform: uppercase;
  margin-bottom: 3%;
  font-weight: 400;
}
.text-close p {
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 0.93em;
}
.text-close a {
  text-decoration: underline;
  color: #222;
}
.text-close a:hover {
  text-decoration: none;
}
/*poster*/
/*services*/
.services-scale .col3 {
  margin: 0 auto;
}
.services-scale .col3 .item {
  margin: 0;
  width: 33.3333%;
 }
.services-scale img {
  width: 100%;
  display: block;
  min-height: 303px;
}
/*services*/
/*partners*/
.partners {
  background-color: #fff;
}
.ul-img-partners {
  margin: 3% 15%;
}
.background-partners .grid-9 .col2 .item {
  margin: 0;
}
.name-partners h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding: 0 40px 40px;
}
.name-partners {
  text-align: center;
  color: #222;
  margin-bottom: 65px;
  display: block;
  margin-top: 40px;
}
.border-partners {
  border-top: 1px solid #ccc;
}
.partners h3 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.125em;
  text-transform: uppercase;
  text-align: left;
}
.partners .grid-3 ul li a {
  display: block;
  padding: 2% 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #222;
  line-height: 24px;
}
.partners .grid-3 ul li a:hover {
  color: #ccc;
}
/*partners*/
/*excursion*/
.excursion {
  padding: 3% 0;
}
.poster .partners {
  background-color: #eee;
}
/*excursion*/
/*fotogallery-item*/
.gamma-gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.gamma-gallery:before,
.gamma-gallery:after {
  content: " ";
  display: table;
}
.gamma-gallery:after {
  clear: both;
}
.gamma-gallery li {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  padding: 4px;
}
.gamma-gallery li img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
} 
.gamma-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10001;
}
.gamma-buttons button {
  float: left;
  background: #333;
  color: #fff;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}
.gamma-buttons button:before,
.gamma-nav span:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  text-align: center;
  opacity: 0.7;
  outline: none;
}
.no-touch .gamma-buttons button:hover {
  background: #666;
}
button.gamma-btn-close:before {
  content: '\2715';
}
button.gamma-btn-ssplay:before {
  content: '\f04b';
}
button.gamma-btn-sspause:before {
  content: '\f04c';
}
.gamma-single-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 10000;
  text-align: center;
  display:none;
}
.gamma-overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  z-index: 9999;
}
.gamma-single-view img {
  position: absolute;
  cursor: pointer;
}
.gamma-description-wrapper {
  background: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding: 5px 0;
}
.gamma-single-view .gamma-description {
  background: transparent;
  position: relative;
  bottom: auto;
  left: auto;
  right: auto;
  top: auto;
}
.gamma-single-view .gamma-description h3 {
  font-size: 15px;
  padding: 5px 0;
  color: #fff;
}
.gamma-nav span {
  position: absolute;
  display: block;
  width: 20px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  left: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gamma-nav span.gamma-next {
  left: auto;
  right: 20px;
}
.gamma-nav span:before {
  color: #fff;
  opacity: 0.7;
  font-size: 40px;
}
.gamma-nav span:hover:before {
  opacity: 1;
}
.gamma-nav span:before {
  display: block;
  margin: 0;
  width: auto;
}
.gamma-nav span.gamma-prev:before {
  content: '\2039';
}
.gamma-nav span.gamma-next:before {
  content: '\203a';
}
.gamma-img-fly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
.gamma-loading {
  background: transparent url(../images/loader_light.gif) no-repeat center center;
}
.gamma-single-view.gamma-loading {
  background: transparent url(../images/loader_dark.gif) no-repeat center center;
}
@media screen and (max-width: 750px) {
  .gamma-description {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .gamma-buttons {
    float: left;
    clear: both;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fotogallery-item .container {
  width: 100%;
  position: relative;
}
.main {
  padding: 30px 20px 100px 20px;
  max-width: 1580px;
  margin: 0 auto;
}
.bread {
  margin-top: 2%;
}
.bread ul li {
  display: inline;
  color: #999;
  text-transform: uppercase;
  font-size: 1em;
}
.bread ul li:after {
  content: "/";
  margin-left: 5px;
}
.bread ul li:last-child:after {
  content: none;
}
.bread ul li a {
  color: #222;
  text-decoration: underline;
}
.bread ul li a:hover {
  text-decoration: none;
}
/*fotogallery-item*/
/*article*/
.article-article {
  padding: 0 30px;
  color: #222;
}
.article-article img {
  margin-right: 1em;
  margin-bottom: 1em;
  width: 30%;
  float: left;
}
.article-article p {
  margin-bottom: .5em;
  line-height: 26px;
  font-size: 1.05em;
}
.article-margin {
  margin: 3% 2%;
}
/*article*/
/*contacts*/
.article-article p.p-form {
  font-size: .75em;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.form-input {
  margin-bottom: .75em;
  padding: 5px;
  border: 1px solid #eee;
}
.article-article form {
  background-color: #eee;
  padding: 6%;
}
.form-input:focus {
  border: 1px solid #85755C;
}
input:focus,
textarea:focus {
  outline:none;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}
.error {
  display: inline-block;
  color: red;
  padding: 4px 20px;
  margin-left: 5px;
}
.success {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid green;
  color: green;
  padding: 10px 20px;
}
.success-center {
  text-align: center;
}
.contact-main img {
  width: 100%;
}
.contact-main p {
  font-size: .85em;
  font-style: italic;
  color: #222;
  line-height: 1.8em;
  margin-top: 8%;
  margin-bottom: 8%;
}
/*contacts*/
/*reviews*/
.rewiews-form {
  margin-top: 2%;
}
.rewiews-form input,
.rewiews-form textarea {
  border: 1px solid #4C4339;
  padding: 5px;
}
.rewiews-form input.bt {
  border: none;
  margin-top: 1%;
  padding: 10px 20px;
}
/*reviews*/

@media screen and (max-width: 768px) { /* для планшетов */
  .container {
    min-width: 750px;
    width: 750px;
    margin: 0;
  }
  .main-menu {
    padding: 0;
  }
  .main-menu a {
    line-height: 30px;
  }
  .main-menu li {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
    display: inline-block;
  }
  .logo-img {
    width: 35px;
    background-size: 35px;
    height: 55px;
    margin: 0 10px;
  }
  .slider {
    height: 320px; 
  }
  .text-head {
    margin: 5% 0;
    padding: 0 5%;
    font-size: 12px;
  }
  .background-services .col3 {
    margin-right: 2%;
    margin-left: 7%;
  }
  span.count {
    font-size: 14px;
  }
  .background-services .col3 ul {
    font-size: 12px;
  }
  .slider-bg-color h2, 
  .services h2, 
  .background-partners h2, 
  .background-afisha h2 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 14px;
  }
  .background-afisha .col2 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .partners-scale img {
    min-height: auto;
  }
  .thumb_overlay:hover:after {
    content: '';
    top: 70%;
  }
  .thumb_overlay:hover:before {
    content: "\f02d";
    top: 70%;
  }
  .thumb_overlay {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) { /* для мобилок */

}